* {margin: 0 auto; padding: 0 auto; list-style: none;}
body{width: 100%; margin: 0 auto; font-family: 'Open Sans Condensed', sans-serif; font-weight: 30; font-size: 2rem; text-decoration: none; clear: fixed; background-color: #212529; overflow-x: hidden;}


/*******************************PORTRAIT - MOBILE(Iphone 320x468) RESOLUÇÃO PORTRAIT - 300px a 900px*******************************/
@media only screen and (max-width: 900px){
.intro{background-color: #212529}

/*intro*/
h2.m-title{width: 100%;margin: 0 28%;padding: 0% 6% 0%;font-family: 'Open Sans Condensed', sans-serif;font-weight: 30;font-size: .98rem;color: #fff;}
header.intro{width: 100%;height: 430px;margin: 0px auto;padding: 5% 0;font-size: 0.92em;font-weight: 600;text-decoration: none;background-color:#212529;}
h4.mini-title{width: 100%;margin: 0 28%;padding: 0% 6% 0%;font-family: 'Open Sans Condensed', sans-serif;font-weight: 30;font-size: .98rem;color: #fff;}
img.logo{width: 68%;margin: 0 15%;padding: 2px 6%;font-family: 'Open Sans Condensed', sans-serif;font-weight: 30;/*! font-size: .98rem; */color: #fff;}
h6.sub-title{width: 100%;margin: 0 21%;padding: 0% 6% 0%;font-family: 'Open Sans Condensed', sans-serif;font-weight: 30;font-size: .98rem;color: #fff;}
ul.doublebtn{width: 90%;margin: 0 8% 0 10%; display: inline-block;}
a.btn-new{width: 28%; font-size: .68em; color: #212529; display: inline-block; background-color: #f9c410;margin: 0 6%; border: 1 solid #fff; border-radius: 5%;}
a.btn-new:link{width: 28%; font-size: .68em; color: #212529; display: inline-block; background-color: #f9c410;margin: 0 6%; border: 1 solid #fff; border-radius: 6px;}
a.btn-new:hover{width: 28%; font-size: .68em; color: #fff; display: inline-block; background-color: #8a6e0c;margin: 0 6%; border: 1 solid #fff; border-radius: 6px;}
li.buttons{width: 100%; margin: 0 2%; display: inline-block;font-size: 0.6em;}
img.icon{width: 9%; margin: 6% 4% 0%; display: inline-block;}
ul.container-local{width: 100%; margin: 0px 20%; display: block; background-color:#212529;}
ul a.btn-rap{width: 80%; font-size: .68em; color: #fff; display: block; background-color: #f9c410;margin: 14% -2%; border: 1 solid #fff; border-radius: 6px;height: 40px;padding: 16px 4px 2%;position: relative;left: -43%;text-align: center;text-decoration: none;}
ul a.btn-rap:link{width: 100%; font-size: .68em; color: #fff; display: inline-block; background-color: #f9c410;margin: 0 6%; border: 1 solid #fff; border-radius: 6px;}
ul a.btn-rap:hover{width: 100%; font-size: .68em; color: #fff; display: inline-block; background-color: #8a6e0c;margin: 0 6%; border: 1 solid #fff; border-radius: 6px;}
div.bloco-img{width: 60%; display: block; position: absolute;margin: 5% 0%;}
a.link{width: 12%;margin: 0 auto;display: block;font-family: 'Open Sans Condensed', sans-serif;font-weight: 30;font-size: .98rem;color: #fff;position: relative;}
a.link:link{width: 12%;margin: 0 auto;display: block;font-family: 'Open Sans Condensed', sans-serif;font-weight: 30;font-size: .98rem;color: #fff;position: relative;}
a.link:hover{width: 12%; display: block; font-family: 'Open Sans Condensed', sans-serif; font-weight: 30; font-size: .98rem; color: #ccc; position: relative; text-decoration: none;}
.objetivo{width: 58%; margin: 0% 0%; display: block; position: relative;}
.experiencia{width: 58%; margin:0% 0%; display: block; position: relative;}
.objetivo{width: 58%;margin: -138% 268%;display: block;position: absolute;}
.experiencia{width: 58%;margin: -335% -488%;display: block;position: absolute;z-index: 30;}
.galeria{width: 58%;margin: -663% 300%;display: block;position: absolute;}
.formacao{width: 58%;margin: -607% -310%;display: block;position: relative;padding: 5% 5%;}
.skills{width: 58%;margin: -189% 26%;display: block;position: absolute;padding: 5% 5%;}
.contato{width: 58%;margin: -555% 360%;display: block;position: relative;padding: 5% 5%;}
div.wp{width: 4%; display: block; position: relative; margin:-12% 90%;}
div a img.button-wp{width: 10%; /*! height: auto; */ margin: 0 auto; position: relative; z-index: 1000;top:-58px;left: 90%;display: block;} 
/*intro*/


.sobre{width: 90%;height: 1727px;margin: -10% auto -2%;display: block;background-color: #212529;padding: 10%;}
h4.min-title{margin: 0 auto; font-family: 'Open Sans Condensed', sans-serif; font-weight: 30; font-size: 2rem; text-align: center; color: #f9c410;padding: 0 0%;}
h6.su-title{margin: 0 auto; font-family: 'Open Sans Condensed', sans-serif; font-weight: 30; font-size: 1rem; text-align: center; color: #fff;padding: 36px 0% 1%;}
ul.sobre-mim{width: 80%; /*! height: 760px; */ margin: 0 5%; display: block; /*! background-color: #e3b9b9; */} 
li.bloco-esq{width: 100%; /*! height: 760px; */margin: 6% 13% -24%;display: block;/* background-color: #333; */} 
.retrato{width: 23%; /*! height: 50%; */ border-radius: 50%;border: #f9c410 solid 2px;}
li.bloco-dir{width: 55%; /*! height: 760px; */ margin: -10% 40%; /*! display: inline-flex; */ /*! background-color: #720606; */} 
ul.bloco-interno{width: 82%; height: 196px; margin: 0% auto; display: inline-flex;}
li.quad{width: 200px;height: 240px;margin: -58% -43% 85%;display: block;/*! background-color: #2d2f2e; */border-radius: 16px;}
.lamp{width: 18%; margin: 8% auto; display: block;filter: invert(83%) sepia(41%) saturate(1642%) hue-rotate(349deg) brightness(99%) contrast(97%);}
.bag{width: 22%; margin: 8% auto; display: block;filter: invert(83%) sepia(41%) saturate(1642%) hue-rotate(349deg) brightness(99%) contrast(97%);}
.fone{width: 16%; margin: 8% auto; display: block;filter: invert(83%) sepia(41%) saturate(1642%) hue-rotate(349deg) brightness(99%) contrast(97%);}

h5.s-title{width: 100%; margin: 10px 18%; font-size: 0.92em; color: #fff;}
h5.s-title01{width: 100%; margin: 10px 4px; font-size: 0.92em; color: #fff;}
h5.s-title02{width: 100%; margin: 10px 12px; font-size: 0.92em; color: #fff;}
p.legend{width: 100%; margin: -6px 30%; font-size: 0.7em; color: #fff;}
div.box-text{width: 72%;height: 190px;margin: -15% 13%;display: block;}
p.bloco-text{width: 100%;height: 190px;margin: 11% -4%;color: #fff;display: block;font-size: 1.1rem;line-height: 26px;}
a.btn-contato:link{width: 39%;/* height: 22%; */margin: -16% 3%;color: #fff;background-color: #f9c410;display: block;font-size: 1.1rem;line-height: 40px;border-radius: 8px;padding: 0 4% 0% 5%;text-decoration: none;}
a.btn-contato:hover{width: 29%;height: 22%;margin: -110% 2%;color: #2d2f2e;background-color: #ab870b;display: block;font-size: 1.1rem;line-height: 40px;border-radius: 8px;padding: 2% 6%;text-decoration: none;}

.m-formacao{width: 80%;height: 1600px;margin: -90% auto 0%;display: block;background-color: #212529;padding: 10%;}
h6.su-title-formacao{margin: 0 auto; font-family: 'Open Sans Condensed', sans-serif; font-weight: 30; font-size: 1rem; text-align: center; color: #fff;padding: 36px 0% 1%;}
h4.min-title-formacao{margin: 0 auto; font-family: 'Open Sans Condensed', sans-serif; font-weight: 30; font-size: 2rem; text-align: center; color: #f9c410;padding: 0 0%;}
ul.box-curso{width: 100%; height: 300px; margin: 6% -3% 6%; display: block; /*! background-color: #ab870b; */ position: relative;}
li.b-curso{width: 70%; height: 338px; margin: 0 2% 5%; display: block; border: 2px solid #6a5f3a;position: relative;border-radius: 12px;padding: 2% 4%;}
li.b-curso p.p-curso{width: 20%; height: 300px; margin: 0 2%; display: block;}
img.img-curso{width: 16%; margin: 5% 40% -14%; font-size: 0.92em; /*! border: 1px solid #6a5f3a; */ /*! border-radius: 154px; */filter: invert(83%) sepia(41%) saturate(1642%) hue-rotate(349deg) brightness(99%) contrast(97%);}
p.b-min-text{width: 100%; margin: 0px 4px 5%; font-size: 0.8em; color: #fff;line-height: 22px}

.m-objetivo{width: 80%;height: 654px;margin: 0 auto -10%;display: block;background-color: #212529;padding: 10%;}

.m-galeria{width: 100%;height: -347px;margin: 0% 0% 80%;display: block;background-color: #212529;padding: 8%;float: left;}
h4.min-title-galeria{margin: 0 -17%; font-family: 'Open Sans Condensed', sans-serif; font-weight: 30; font-size: 2rem; text-align: center; color: #f9c410;padding: 0 0%;}
h6.su-title-galeria{margin: 0 auto; font-family: 'Open Sans Condensed', sans-serif; font-weight: 30; font-size: 1rem; text-align: center; color: #fff;/*! padding: 0px 0% 1%; */}

ul.box-galeria{width: 100%; height: 300px; margin: 0 5% 5%; display: inline-block; /*! background-color: #ab870b; */ position: relative;}
li.b-galeria a{width: 70%; height: 90%; margin: 5% -8% 10%; display: block; border: 2px solid #6a5f3a;position: relative;border-radius: 12px;padding: 2%;}

a{width: 70%; height: 90%; margin: 5% -8% 10%; display: block; border: 2px solid #6a5f3a;position: relative;border-radius: 12px;padding: 2%;}

.base{width: 70%; height: 90%; margin: 5% -8% 10%; display: block; position: relative;}

.img-solta{width: 70%; height: 90%; display: block; position: relative;}







img.img-galeria{width: 16%; margin: 5% 40%; font-size: 0.92em; /*! border: 1px solid #6a5f3a; */ /*! border-radius: 154px; */filter: invert(83%) sepia(41%) saturate(1642%) hue-rotate(349deg) brightness(99%) contrast(97%);}
p.b-min-text{width: 100%; margin: 0px 4px 5%; font-size: 0.8em; color: #fff;line-height: 22px}
.alvo{width: 30%;}

.bloco-text-formacao{width: 100%; margin: 10px 4px; font-size: 0.92em; color: #fff;}

.bloco-text-formacao{width: 100%; margin: 10px 4px; font-size: 0.92em; color: #fff;}

.bloco-text-formacao{width: 100%; margin: 10px 4px; font-size: 0.92em; color: #fff;}
ul.box-galeria-exp{width: 100%; height: 300px; margin: 3% -2% -6%; display: inline-flex; /*! background-color: #ab870b; */ position: relative;}
li.b-galeria-exp{width: 20%; height: 46%; margin: 0 2% -10%; display: block; border: 2px solid #6a5f3a;position: relative;border-radius: 12px;padding: 2%;}
li.b-galeria-exp p.p-galeria-exp{width: 20%; height: 300px; margin: 0 2%; display: block;}
img.img-galeria-exp{width: 16%; margin: 5% 40%; font-size: 0.92em; /*! border: 1px solid #6a5f3a; */ /*! border-radius: 154px; */filter: invert(83%) sepia(41%) saturate(1642%) hue-rotate(349deg) brightness(99%) contrast(97%);}
p.b-min-text{margin: 0 auto; font-family: 'Open Sans Condensed', sans-serif; font-weight: 30; font-size: .8rem; text-align: center; color: #fff;padding: 0 0%;}
.alvo{width: 70%;margin: -10% -18%;}

h4.min-title{margin: 0 auto; font-family: 'Open Sans Condensed', sans-serif; font-weight: 30; font-size: rem; text-align: center; color: #f9c410;padding: 0 0%;}
h6.su-title{margin: 0 auto;font-family: 'Open Sans Condensed', sans-serif;font-weight: 30;font-size: 1rem;text-align: center;color: #fff;padding: 5% 0% 0%;}
ul.sobre-mim{width: 80%; /*! height: 760px; */margin: -10% 5% 18%;display: block; /*! background-color: #e3b9b9; */} 
li.bloco-esq{width: 100%; /*! height: 760px; */margin: 6% 13% -24%;display: block;/* background-color: #333; */} 
.retrato{width: 23%; /*! height: 50%; */ border-radius: 50%;border: #f9c410 solid 2px;}
li.bloco-dir{width: 55%; /*! height: 760px; */ margin: -10% 40%; /*! display: inline-flex; */ /*! background-color: #720606; */} 

.maisexpert{width: 100%;height: 760px;margin: -7% auto -8%;display: block;background-color: #212529;}
h4.min-title{margin: 0 auto; font-family: 'Open Sans Condensed', sans-serif; font-weight: 30; font-size: 2rem; text-align: center; color: #f9c410;padding: 0 0%;}
h6.su-title{margin: auto; font-family: 'Open Sans Condensed', sans-serif; font-weight: 30; font-size: 1rem; text-align: center; color: #fff;padding: 36px 0% 1%;}
ul.sobre-mim{width: 80%; /*! height: 760px; */ margin: 10% 5%; display: block; /*! background-color: #e3b9b9; */} 
li.bloco-esq{width: 100%; /*! height: 760px; */margin: 6% 13% -24%;display: block;/* background-color: #333; */} 
.retrato{width: 23%; /*! height: 50%; */ border-radius: 50%;border: #f9c410 solid 2px;}
li.bloco-dir{width: 55%; /*! height: 760px; */ margin: -10% 40%; /*! display: inline-flex; */ /*! background-color: #720606; */} 
ul.bloco-interno{width: 82%; height: 196px; margin: 0% auto; display: inline-flex;}
li.quad{width: 200px;height: 236px;margin: 0 -40% 0 -50%;display: block;background-color: #2d2f2e;border-radius: 8%;}
.lamp{width: 40%; margin: 4% auto -11%; display: block;filter: invert(83%) sepia(41%) saturate(1642%) hue-rotate(349deg) brightness(99%) contrast(97%);padding: 18%;}
.bag{width: 40%; margin: 10% auto 33%; display: block;filter: invert(83%) sepia(41%) saturate(1642%) hue-rotate(349deg) brightness(99%) contrast(97%);top: 24%;position: relative;}
.fone{width: 40%; margin: 4% auto -11%; display: block;filter: invert(83%) sepia(41%) saturate(1642%) hue-rotate(349deg) brightness(99%) contrast(97%);top: 24%;position: relative;}
h5.s-title{width: 100%; margin: 10px 18%; font-size: 0.92em; color: #fff;}
h5.s-title01{width: 100%; margin: 10px 4px; font-size: 0.92em; color: #fff;}
h5.s-title02{width: 100%; margin: 10px 12px; font-size: 0.92em; color: #fff;}
p.legend{width: 100%; margin: -6px 30%; font-size: 0.7em; color: #fff;}
div.box-text{width: 72%;height: 190px;margin: -15% 13%;display: block;}
p.bloco-text{width: 100%;height: 190px;margin: 11% -4%;color: #fff;display: block;font-size: 1.1rem;line-height: 26px;}
a.btn-contato:link{width: 50%;height: 29%;margin: -18% -2%;color: #fff;background-color: #f9c410;display: block;font-size: 1.1rem;line-height: 58px;border-radius: 8px;padding: 0 5% 0% 8%;text-decoration: none;}
a.btn-contato:hover{width: 29%;height: 22%;margin: -110% 2%;color: #2d2f2e;background-color: #ab870b;display: block;font-size: 1.1rem;line-height: 40px;border-radius: 8px;padding: 2% 6%;text-decoration: none;}

.habilidades{width: 100%; height: 500px; margin: 10px 4px; font-size: 0.92em; color: #fff;/*! background-color: #333; */}

.habilidades{width: 100%;height: 810px;margin: 190% auto;display: block;background-color: #212529;}
ul.habilidade{width: 100%; /*! height: 760px; */ margin: -9% 35%; display: inline-block; /*! background-color: #e3b9b9; */} 
li.h-skills{width: 50%; height: 113%; margin: 0 10% 0 -29%; display: block; border: 2px solid #6a5f3a;position: relative;border-radius: 12px;padding: 10% 12%;}
li.bloco-esq{width: 100%; /*! height: 760px; */margin: 6% 24% -20% 22%;display: block;/* background-color: #333; */} 
.retrato{width: 33%; /*! height: 50%; */border-radius: 50%;border: #f9c410 solid 2px;}
li.bloco-dir{width: 100%; /*! height: 760px; */ margin: 20% 9%; display: block; /*! background-color: #720606; */} 

.exper{width: 100%; margin: 670px auto; font-size: 0.92em;/* color: #fff; *//*! height: 500px; *//*! background-color: #333; */display: block; position: relative; height: 2001px; /*! background-color: #2d2f2e; */}
.maisexpert{width: 100%;height: 760px;margin: -7% auto -8%;display: block;background-color: #212529;}
h4.min-title{margin: 0% 0 18%; font-family: 'Open Sans Condensed', sans-serif; font-weight: 30; font-size: 2rem; text-align: center; color: #f9c410;padding: 0 0%;width: 100%;}
h6.su-title{margin: 0 auto; font-family: 'Open Sans Condensed', sans-serif; font-weight: 30; font-size: 1rem; text-align: center; color: #fff;padding: 36px -16% 1%;width: 100%;}
.txt-experience{margin: 0 auto; font-family: 'Open Sans Condensed', sans-serif; font-weight: 30; font-size: 2rem; text-align: left; color: #fff; padding: 0 0%;}
ul.sobre-mim{width: 100%; /*! height: 760px; */ margin: -7% auto; display: block; /*! background-color: #e3b9b9; */} 
li.bloco-esq-exper{width: 100%; /*! height: 760px; */margin: 10% 13% -24%;display: block;/* background-color: #333; */}  
li.bloco-dir-exper{width: 100%; /*! height: 760px; */ margin: 28% -12%; display: block; /*! background-color: #720606; */}
ul.bloco-interno{width: 20%; height: auto; margin: 25% 5%; display: block;}
h5.s-title{width: 100%; margin: 10px 22%; font-size: 0.6em; color: #fff;}
h5.s-title01{width: 100%; margin: 11px 14px; font-size: 0.6em; color: #fff;}
h5.s-title02{width: 100%; margin: 51% 15% 5%; font-size: 0.6em; color: #fff;}
p.legend{width: 100%; margin: -5% 34%; font-size: 0.4em; color: #fff;}
div.box-text{width: 100%;height: 195px;margin: 40% 13%;display: block;}
p.bloco-text{width: 100%;height: 195px;margin: -26% -35% 2%;color: #fff;display: block;font-size: 1.1rem;line-height: 26px;}
a.btn-contato{width: 50%;height: 29%;margin: -18% -2%;color: #fff;background-color: #f9c410;display: block;font-size: 1.1rem;line-height: 58px;border-radius: 8px;padding: 0 5% 0% 8%;text-decoration: none;}
a.btn-contato:hover{width: 29%;height: 22%;margin: -110% 2%;color: #2d2f2e;background-color: #ab870b;display: block;font-size: 1.1rem;line-height: 40px;border-radius: 8px;padding: 2% 6%;text-decoration: none;}
.img-computer{width: 48%;/* height: 760px; */margin: 5px -42% 0;display: block;}

.contact{width: 100%; height: 542px; margin: 0 auto; font-size: 0.6em; background-color: #212529;}

.txt-vis {width: 86%;margin: 1% auto;padding-top: 3%;font-size: 0.9em;color: #fff;letter-spacing: 1px;overflow: hidden;color:#fff;text-align: left;line-height: 22px;}
form {width: 952px;margin: -280px -154%;overflow: hidden;z-index: 160;position: relative;}
fieldset{width: 32%; height: 86%; margin: 0% 68% 0%; /*! padding-top: 14%; */ border: none;overflow: hidden; /*! padding-bottom: 10%; */}
form fieldset h2.txt-form{width: 100%;padding-top: 2px;padding-bottom: 30px;margin: 3% auto 2%;font-family: 'Arial';font-weight: 900;font-size: 4.7rem;text-align: center;letter-spacing: 2px;padding: 2%;color: #2b53dd;text-align: center;letter-spacing: 1px;text-align: center;margin: 0 auto;}
form fieldset input {width: 38%; height: 2px; margin: 0 -4% 0 8%; padding-top: 13px; padding-bottom: 20px; border: 1px #aeaeae solid; border-radius: 3px; overflow: hidden; text-align: right;}
form fieldset input.add-nome{font-family: 'Arial'; font-size: .75rem;text-align: left;/*! background:#cacaca; */color: #aeaeae;}
form fieldset input.add-email{font-family: 'Arial'; font-size: .75rem;text-align: left;/*! background:#cacaca; */color: #aeaeae;}
form fieldset textarea.text-area{width: 82%; height: 70px; margin: 10px 8%;padding-top: 8px;padding-bottom: 20px;border: 1px #aeaeae solid;border-radius: 3px;font-family: 'Arial'; text-align: left; /*! background:#cacaca; */ color: #aeaeae;font-size: .75rem;}
input:focus {box-shadow: 2px 1px 10px #ccc;}
textarea:focus {box-shadow: 1px 1px 10px #ccc;}
button.add-button{margin: 0% 67%;width: 24%;padding-top: 10px;padding-bottom: 10px;font-size: .7rem;text-align: center;color: #fff;letter-spacing: 3px;background: #6d717d;border: 0;border-radius: 20px;-webkit-transition-duration: 0.4s; /* Safari */transition-duration: 0.4s;}
button.add-button:hover{background-color: #288ebd; color: #d4d3cd; box-shadow: 1px 1px 3px #656f7b;}

footer{width: 100%;/* height: 100%; */margin: 0 auto;/* padding-top: 0%; */padding-bottom: 1%;line-height: 50%;text-align: center;background: #111;display: block;overflow-x: hidden;}
footer ul{width: 80%;/* height: 100%; */margin: 0 auto; padding-top: 15px; padding-left: 5px;/* padding-bottom: 2px; */font-size: 0.4em;text-align: center;color: #fff;}
footer ul li{width: 88%;height: 100%;margin: 0 auto;padding-top: 2px;padding-left: 5px;/* padding-bottom: 2px; */text-align: center;color: #fff;}
footer ul li p{font-size: 1em; text-align: center; color: #fff;}
a.topage{text-align: center; font-size: 2rem; text-decoration: none; color: #fff;}




.button{
    -webkit-filter:grayscale(100%);
}
.button:hover{
    -webkit-filter:grayscale(0%);
    transition: 1s;

}



	
}







/*******************************INÍCIO - DESKTOP - RESOLUÇÃO - 901x a 1366px*******************************/
@media only screen and (min-width: 901px) and (max-width: 2000px) {	

/*intro*/header.intro{width: 100%;height: 1223px;margin: 0px auto 5%;padding: 5% 0;font-size: 0.92em;font-weight: 600;text-decoration: none;background-color:#212529;}
h4.mini-title{width: 100%;margin: 0 38%;padding: 0% 6% 0%;font-family: 'Open Sans Condensed', sans-serif;font-weight: 30;font-size: .98rem;color: #fff;}
img.logo{width: 22%;margin: 0 30%;padding: 2% 6%;font-family: 'Open Sans Condensed', sans-serif;font-weight: 30;font-size: .98rem;color: #fff;}
h6.sub-title{width: 100%;margin: 0 36%;padding: 0% 6% 0%;font-family: 'Open Sans Condensed', sans-serif;font-weight: 30;font-size: .98rem;color: #fff;}
ul.doublebtn{width: 50%;margin: 0px 25%;display: inline-block;font-size: .92em;/*! line-height: ; */}
ul a.btn:link{width: 12%; height: 50px; margin: 4% 5% 5% -2%; display: inline-block; background-color: #f9c410;}
ul a.btn:hover{width: 12%; height: 50px; margin: 4% 5% 5% -2%; display: inline-block; background-color: #8a6e0c; color: #fff; border: 1px solid #f9c410;}
li.buttons{width: 100%; margin: 4px 3%; display: inline-block;}
img.icon{width: 12%; margin: 4% 5% -5px; display: inline-block;/*! padding: 5px -2px 5px; */}
ul.container-local{width: 72%; margin: 0px 18%; display: block; background-color:#212529;}

a.btn-new{width: 10%; font-size: .68em; color: #212529; display: inline-block; background-color: #f9c410;margin: 0 6%; border: 1 solid #fff; border-radius: 5%;}
a.btn-new:link{width: 28%; font-size: .68em; color: #212529; display: inline-block; background-color: #f9c410;margin: 0 6%; border: 1 solid #fff; border-radius: 6px;}
a.btn-new:hover{width: 28%; font-size: .68em; color: #fff; display: inline-block; background-color: #8a6e0c;margin: 0 6%; border: 1 solid #fff; border-radius: 6px;}

ul a.btn-rap{width: 42%;height: 50px;margin: 4% 5% 5% 10%;display: block; background-color: #f9c410;color: #212529 !important;text-decoration: none !important;padding: 3% 5%;border-radius: 8px;font-size: .7em;}
ul a.btn-rap:link{width: 42%;height: 50px;margin: 4% 5% 5% -2%;display: block; background-color: #f9c410;color: #212529 !important;text-decoration: none !important;padding: 3% 5%;border-radius: 8px;}
ul a.btn-rap:hover{width: 42%;height: 50px;margin: 4% 5% 5% -2%;display: block; background-color: #8a6e0c; color: #fff !important;text-decoration: none !important;padding: 3% 5%;border-radius: 8px;}

div.bloco-img{width: 100%; display: block; position: relative;}
a.link{width: 12%;margin: 0 auto;display: block;font-family: 'Open Sans Condensed', sans-serif;font-weight: 30;font-size: .98rem;color: #fff;position: relative;}
a.link:link{width: 12%;margin: 0 auto;display: block;font-family: 'Open Sans Condensed', sans-serif;font-weight: 30;font-size: .98rem;color: #fff;position: relative;}
a.link:hover{width: 12%; display: block; font-family: 'Open Sans Condensed', sans-serif; font-weight: 30; font-size: .98rem; color: #ccc; position: relative; text-decoration: none;}
.objetivo{width: 58%; margin: 0% 0%; display: block; position: relative;}
.experiencia{width: 58%; margin:0% 0%; display: block; position: relative;}
.objetivo{width: 58%;margin: -125% 268%;display: block;position: relative;posi: -8%;}
.experiencia{width: 58%;margin: -136% -366%;display: block;position: relative;}
.galeria{width: 60%;margin: -412px 291% 0%;display: block;position: relative;}
.formacao{width: 58%;margin: -77% -198% 0;display: block;position: relative;}
.skills{width: 58%;margin: 607% 26%;display: block;position: relative;}
.contato{width: 58%;margin: -882% 384%;display: block;position: relative;}
div.wp{width: 4%; display: block; position: relative; margin:-12% 90%;}
div a img.button-wp{width: 4%; /*! height: auto; */ margin: 0 auto; position: relative; z-index: 1000;top:-506px;left: 43%;display: block;}

/*intro*/
.sobre{width: 100%;height: 760px;margin: -7% auto -8%;display: block;background-color: #212529;}
h4.min-title{margin: 0 auto; font-family: 'Open Sans Condensed', sans-serif; font-weight: 30; font-size: 2rem; text-align: center; color: #f9c410;padding: 0 0%;}
h6.su-title{margin: 0 auto; font-family: 'Open Sans Condensed', sans-serif; font-weight: 30; font-size: 1rem; text-align: center; color: #fff;padding: 36px 0% 1%;}
ul.sobre-mim{width: 80%; /*! height: 760px; */ margin: 0 5%; display: block; /*! background-color: #e3b9b9; */} 
li.bloco-esq{width: 100%; /*! height: 760px; */margin: 6% 13% -24%;display: block;/* background-color: #333; */} 
.retrato{width: 23%; /*! height: 50%; */ border-radius: 50%;border: #f9c410 solid 2px;}
li.bloco-dir{width: 55%; /*! height: 760px; */ margin: -10% 40%; /*! display: inline-flex; */ /*! background-color: #720606; */} 
ul.bloco-interno{width: 82%; height: 196px; margin: 0% auto; display: inline-flex;}
li.quad{width: 30%;height: 106px;margin: 0 auto;display: block;background-color: #2d2f2e;border-radius: 8%;}
.lamp{width: 18%; margin: 8% auto; display: block;filter: invert(83%) sepia(41%) saturate(1642%) hue-rotate(349deg) brightness(99%) contrast(97%);}
.bag{width: 22%; margin: 8% auto; display: block;filter: invert(83%) sepia(41%) saturate(1642%) hue-rotate(349deg) brightness(99%) contrast(97%);}
.fone{width: 16%; margin: 8% auto; display: block;filter: invert(83%) sepia(41%) saturate(1642%) hue-rotate(349deg) brightness(99%) contrast(97%);}


p.legend{width: 100%; margin: -6px 30%; font-size: 0.7em; color: #fff;}
div.box-text{width: 72%;height: 190px;margin: -15% 13%;display: block;}
p.bloco-text{width: 100%;height: 190px;margin: 11% -4%;color: #fff;display: block;font-size: 1.1rem;line-height: 26px;}
a.btn-contato:link{width: 39%;/* height: 22%; */margin: -16% 3%;color: #fff;background-color: #f9c410;display: block;font-size: 1.1rem;line-height: 40px;border-radius: 8px;padding: 0 4% 0% 5%;text-decoration: none;}
a.btn-contato:hover{width: 29%;height: 22%;margin: -110% 2%;color: #2d2f2e;background-color: #ab870b;display: block;font-size: 1.1rem;line-height: 40px;border-radius: 8px;padding: 2% 6%;text-decoration: none;}

.bloco-text-formacao{width: 100%; margin: 10px 4px; font-size: 0.92em; color: #fff;}
ul.box-curso{width: 94%; height: 300px; margin: 3% auto; display: inline-flex; /*! background-color: #ab870b; */ position: relative;}
li.b-curso{width: 22%; height: 120%; margin: 0 5px; display: block; border: 2px solid #6a5f3a;position: relative;border-radius: 12px;padding: 2%;}
li.b-curso p.p-curso{width: 20%; height: 300px; margin: 0 2%; display: block;}
img.img-curso{width: 16%; margin: 5% 40% -14%; font-size: 0.92em; /*! border: 1px solid #6a5f3a; */ /*! border-radius: 154px; */filter: invert(83%) sepia(41%) saturate(1642%) hue-rotate(349deg) brightness(99%) contrast(97%);}
p.b-min-text{width: 100%; margin: 0px 4px 5%; font-size: 0.8em; color: #fff;line-height: 22px}
.alvo{width: 30%;}

.bloco-text-formacao{width: 100%; margin: 10px 4px; font-size: 0.92em; color: #fff;}
ul.box-galeria{width: 90%; height: auto; margin: 0 -5%; display: block; display: inline-table; position: relative;padding: left;}
li.b-galeria{width: 23%; height: 260px; margin: 0 0% 5%; display: inline-flex; border: 2px solid #6a5f3a;position: relative;border-radius: 12px;padding: 5px 5px;}
li.b-galeria p.p-galeria{width: 20%; height: 300px; margin: 0 2%; display: block;}
img.img-galeria{width: 16%; margin: 5% 40%; font-size: 0.92em; /*! border: 1px solid #6a5f3a; */ /*! border-radius: 154px; */filter: invert(83%) sepia(41%) saturate(1642%) hue-rotate(349deg) brightness(99%) contrast(97%);}
p.b-min-text{width: 100%; margin: 0px 4px 5%; font-size: 0.8em; color: #fff;line-height: 22px}
.alvo{width: 30%;}


.bloco-text-formacao{width: 100%; margin: 10px 4px; font-size: 0.92em; color: #fff;}
ul.box-galeria-exp{width: 100%; height: 300px; margin: 3% -2% -6%; display: inline-flex; /*! background-color: #ab870b; */ position: relative;}
li.b-galeria-exp{width: 20%; height: 46%; margin: 0 2% -10%; display: block; border: 2px solid #6a5f3a;position: relative;border-radius: 12px;padding: 2%;}
.b-img-gal{width: 120%; height: auto; margin: -12% -12% -7%; display: block; /*! border: 2px solid #6a5f3a; */position: relative;border-radius: 12px;padding: 2%;}
li.b-galeria-exp p.p-galeria-exp{width: 20%; height: 300px; margin: 0 2%; display: block;}
img.img-galeria-exp{width: 16%; margin: 5% 40%; font-size: 0.92em; /*! border: 1px solid #6a5f3a; */ /*! border-radius: 154px; */filter: invert(83%) sepia(41%) saturate(1642%) hue-rotate(349deg) brightness(99%) contrast(97%);}
p.b-min-text{width: 100%; margin: -20px 4px 5%; font-size: 0.5em; color: #fff;line-height: 25px;}
.alvo{width: 30%;}

h4.min-title{margin: 0 auto; font-family: 'Open Sans Condensed', sans-serif; font-weight: 30; font-size: 2rem; text-align: center; color: #f9c410;padding: 0 0%;}
h6.su-title{margin: 0 auto;font-family: 'Open Sans Condensed', sans-serif;font-weight: 30;font-size: 1rem;text-align: center;color: #fff;padding: 5% 0% 0%;}
ul.sobre-mim{width: 80%; /*! height: 760px; */margin: -10% 5% 18%;display: block; /*! background-color: #e3b9b9; */} 
li.bloco-esq{width: 100%; /*! height: 760px; */margin: 6% 13% -24%;display: block;/* background-color: #333; */} 
.retrato{width: 23%; /*! height: 50%; */ border-radius: 50%;border: #f9c410 solid 2px;}
li.bloco-dir{width: 55%; /*! height: 760px; */ margin: -10% 40%; /*! display: inline-flex; */ /*! background-color: #720606; */} 

.maisexpert{width: 100%;height: 760px;margin: -7% auto -8%;display: block;background-color: #212529;}
h4.min-title{margin: 0 auto; font-family: 'Open Sans Condensed', sans-serif; font-weight: 30; font-size: 2rem; text-align: center; color: #f9c410;padding: 0 0%;}
h6.su-title{margin: 0 auto; font-family: 'Open Sans Condensed', sans-serif; font-weight: 30; font-size: 1rem; text-align: center; color: #fff;padding: 36px 0% 1%;}
ul.sobre-mim{width: 80%; /*! height: 760px; */ margin: 10% 5%; display: block; /*! background-color: #e3b9b9; */} 
li.bloco-esq{width: 100%; /*! height: 760px; */margin: 6% 13% -24%;display: block;/* background-color: #333; */} 
.retrato{width: 23%; /*! height: 50%; */ border-radius: 50%;border: #f9c410 solid 2px;}
li.bloco-dir{width: 55%; /*! height: 760px; */ margin: -10% 40%; /*! display: inline-flex; */ /*! background-color: #720606; */} 
ul.bloco-interno{width: 82%; height: 196px; margin: 0% auto; display: inline-flex;}
li.quad{width: 32%;height: 106px;margin: 0 1%;display: block;background-color: #2d2f2e;border-radius: 8%;}
.lamp{width: 18%; margin: 8% auto; display: block;filter: invert(83%) sepia(41%) saturate(1642%) hue-rotate(349deg) brightness(99%) contrast(97%);}
.bag{width: 22%; margin: 8% auto; display: block;filter: invert(83%) sepia(41%) saturate(1642%) hue-rotate(349deg) brightness(99%) contrast(97%);}
.fone{width: 16%; margin: 8% auto; display: block;filter: invert(83%) sepia(41%) saturate(1642%) hue-rotate(349deg) brightness(99%) contrast(97%);}
h5.s-title{width: 100%; margin: 10px 18%; font-size: 0.92em; color: #fff;}
h5.s-title01{width: 100%; margin: 10px 4px; font-size: 0.92em; color: #fff;}
h5.s-title02{width: 100%; margin: 10px 12px; font-size: 0.92em; color: #fff;}
p.legend{width: 100%; margin: -6px 30%; font-size: 0.7em; color: #fff;}
div.box-text{width: 72%;height: 190px;margin: -15% 13%;display: block;}
p.bloco-text{width: 100%;height: 190px;margin: 11% -4%;color: #fff;display: block;font-size: 1.1rem;line-height: 26px;}
a.btn-contato:link{width: 50%;height: 29%;margin: -18% -2%;color: #fff;background-color: #f9c410;display: block;font-size: 1.1rem;line-height: 58px;border-radius: 8px;padding: 0 5% 0% 8%;text-decoration: none;}
a.btn-contato:hover{width: 29%;height: 22%;margin: -110% 2%;color: #2d2f2e;background-color: #ab870b;display: block;font-size: 1.1rem;line-height: 40px;border-radius: 8px;padding: 2% 6%;text-decoration: none;}

.habilidades{width: 100%; height: 500px; margin: 10px 4px; font-size: 0.92em; color: #fff;/*! background-color: #333; */}

.habilidades{width: 100%;height: 770px;margin: 0% auto;display: block;/*! background-color: #333; */}
ul.habilidade{width: 70%; /*! height: 760px; */ margin: 5% 32%; display: inline-flex; /*! background-color: #e3b9b9; */} 
li.h-skills{width: 43%; height: 120%; margin: 0 28% 0 -26%; display: block; border: 2px solid #6a5f3a;position: relative;border-radius: 12px;padding: 1%;}
li.bloco-esq{width: 100%; /*! height: 760px; */margin: 0 13% -28%;display: block;/* background-color: #333; */} 
.retrato{width: 23%; /*! height: 50%; */border-radius: 50%;border: #f9c410 solid 2px;}
li.bloco-dir{width: 55%; /*! height: 760px; */ margin: -10% 40%; /*! display: inline-flex; */ /*! background-color: #720606; */} 

h6.su-title-formacao{margin: 0 auto; font-family: 'Open Sans Condensed', sans-serif; font-weight: 30; font-size: 1rem; text-align: center; color: #fff;padding: 36px 0% 1%;}
h4.min-title-formacao{margin: 0 auto; font-family: 'Open Sans Condensed', sans-serif; font-weight: 30; font-size: 2rem; text-align: center; color: #f9c410;padding: 0 0%;}

.m-objetivo{width: 80%;height: 654px;margin: 0 auto -10%;display: block;background-color: #212529;padding: 10%;}




.m-galeria{width: 100%;height: 347px;margin: 0% 0% 13%;display: block;background-color: #212529;padding: 7%;/*! float: left; */}
h4.min-title-galeria{margin: 0 -24% 2% -41%; font-family: 'Open Sans Condensed', sans-serif; font-weight: 30; font-size: 2rem; text-align: center; color: #f9c410;padding: 0 0%;}
h6.su-title-galeria{margin: 0 -24% 0% -41%; font-family: 'Open Sans Condensed', sans-serif; font-weight: 30; font-size: 1rem; text-align: center; color: #fff;with: 100%;}





.exper{width: 100%; height: 300px; margin: 330px 0%; font-size: 0.92em;/* color: #fff; *//*! height: 500px; *//*! background-color: #333; */display: block; position: relative; /*! background-color: #333; */}

.maisexpert{width: 100%;height: 760px;margin: -7% auto -8%;display: block;background-color: #212529;}
h4.min-title{margin: 0 auto; font-family: 'Open Sans Condensed', sans-serif; font-weight: 30; font-size: 2rem; text-align: center; color: #f9c410;padding: 0 0%;}
h6.su-title{margin: 0 auto; font-family: 'Open Sans Condensed', sans-serif; font-weight: 30; font-size: 1rem; text-align: center; color: #fff;padding: 36px 0% 1%;}
.txt-experience{margin: 0 auto; font-family: 'Open Sans Condensed', sans-serif; font-weight: 30; font-size: 2rem; text-align: left; color: #fff; padding: 0 0%;}
ul.sobre-mim{width: 80%; /*! height: 760px; */ margin: 10% 5%; display: block; /*! background-color: #e3b9b9; */} 
li.bloco-esq-exper{width: 100%; /*! height: 760px; */margin: 10% 13% -24%;display: block;/* background-color: #333; */}  
li.bloco-dir-exper{width: 55%; /*! height: 760px; */ margin: 14% 40%; /*! display: inline-flex; */ /*! background-color: #720606; */}
ul.bloco-interno{width: 82%; height: 196px; margin: 0% auto; display: inline-flex;}
li.quad{width: 32%;height: 106px;margin: 0 1%;display: block;background-color: #2d2f2e;border-radius: 8%;}
h5.s-title{width: 100%; margin: 10px 18%; font-size: 0.5em; color: #fff;}
h5.s-title01{width: 100%; margin: 10px 4px; font-size: 0.5em; color: #fff;}
h5.s-title02{width: 100%; margin: 10px 12px; font-size: 0.5em; color: #fff;}
p.legend{width: 100%; margin: -14px 30%; font-size: 0.4em; color: #fff;}div.box-text{width: 72%;height: 190px;margin: -15% 13%;display: block;}
p.bloco-text{width: 100%;height: 190px;margin: 11% -4% -6%;color: #fff;display: block;font-size: 1.1rem;line-height: 26px;}
a.btn-contato{width: 50%;height: 29%;margin: -18% -2%;color: #fff;background-color: #f9c410;display: block;font-size: 1.1rem;line-height: 58px;border-radius: 8px;padding: 0 5% 0% 8%;text-decoration: none;}
a.btn-contato:hover{width: 29%;height: 22%;margin: -110% 2%;color: #2d2f2e;background-color: #ab870b;display: block;font-size: 1.1rem;line-height: 40px;border-radius: 8px;padding: 2% 6%;text-decoration: none;}
.img-computer{width: 25%;/* height: 760px; */margin: 6px 5% 0;display: block;}

.contact{width: 100%; height: 539px; margin: 0 auto; font-size: 0.92em; background-color: #212529;}

.txt-vis {width: 86%;margin: 1% auto;padding-top: 3%;font-size: 0.9em;color: #fff;letter-spacing: 1px;overflow: hidden;color:#fff;text-align: left;line-height: 22px;}
form {width: 92%;margin: -34% -33%;overflow: hidden;z-index: 160;position: relative;}
fieldset{width: 32%; height: 86%; margin: 0% 68% 0%; /*! padding-top: 14%; */ border: none;overflow: hidden; /*! padding-bottom: 10%; */}
form fieldset h2.txt-form{width: 100%;padding-top: 2px;padding-bottom: 30px;margin: 3% auto 2%;font-family: 'Arial';font-weight: 900;font-size: 4.7rem;text-align: center;letter-spacing: 2px;padding: 2%;color: #2b53dd;text-align: center;letter-spacing: 1px;text-align: center;margin: 0 auto;}
form fieldset input {width: 38%; height: 2px; margin: 0 -4% 0 8%; padding-top: 13px; padding-bottom: 20px; border: 1px #aeaeae solid; border-radius: 3px; overflow: hidden; text-align: right;}
form fieldset input.add-nome{font-family: 'Arial'; font-size: .75rem;text-align: left;/*! background:#cacaca; */color: #aeaeae;}
form fieldset input.add-email{font-family: 'Arial'; font-size: .75rem;text-align: left;/*! background:#cacaca; */color: #aeaeae;}
form fieldset textarea.text-area{width: 82%; height: 70px; margin: 10px 8%;padding-top: 8px;padding-bottom: 20px;border: 1px #aeaeae solid;border-radius: 3px;font-family: 'Arial'; text-align: left; /*! background:#cacaca; */ color: #aeaeae;font-size: .75rem;}
input:focus {box-shadow: 2px 1px 10px #ccc;}
textarea:focus {box-shadow: 1px 1px 10px #ccc;}
button.add-button{margin: 0% 52%;width: 38%;padding-top: 10px;padding-bottom: 10px;font-size: .7rem;text-align: center;color: #fff;letter-spacing: 3px;background: #6d717d;border: 0;border-radius: 8px;-webkit-transition-duration: 0.4s; /* Safari */transition-duration: 0.4s;}
button.add-button:hover{background-color: #288ebd; color: #d4d3cd; box-shadow: 1px 1px 3px #656f7b;}


footer{width: 100%;/* height: 100%; */margin: 0 auto;/* padding-top: 0%; */padding-bottom: 1%;line-height: 50%;text-align: center;background: #111;display: block;overflow-x: hidden;}
footer ul{width: 80%;/* height: 100%; */margin: 0 auto; padding-top: 15px; padding-left: 5px;/* padding-bottom: 2px; */font-size: 0.6em;text-align: center;color: #fff;}
footer ul li{width: 88%;height: 100%;margin: 0 auto;padding-top: 2px;padding-left: 5px;/* padding-bottom: 2px; */text-align: center;color: #fff;}
footer ul li p{font-size: .4em; text-align: center; color: #fff;}
a.topage{text-align: center; font-size: 2rem; text-decoration: none; color: #fff;}


.button{
    -webkit-filter:grayscale(100%);
}
.button:hover{
    -webkit-filter:grayscale(0%);
    transition: 1s;

}

/*Ainmação*/
[data-anime] {opacity:0; transition: .9s;}
[data-anime="left"] {transform: translate3d(-80px, 0, 0);}
[data-anime="right"] {transform: translate3d(80px, 0, 0);}
[data-anime="top"] {opacity: 0; transform: translate3d(0, -500px, 0);}
[data-anime].animate {opacity: 1; transform: translate3d(0, 0px, 0px);}


}